<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="none" (click)="closeChat()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title>{{ chat.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="room">
    <ion-card *ngFor="let msg of room.messages">
      <ion-card-content>
        <ion-label>{{ msg.content }}</ion-label>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" fill="none" (click)="sendMessage()">
      <ion-icon name="send"></ion-icon>
    </ion-button>
    <ion-textarea [(ngModel)]="msg"></ion-textarea>
  </ion-toolbar>
</ion-footer>
