<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      MyChat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-items>
    <ion-item *ngFor="let chat of chatRooms" (click)="openChat(chat)">
      <ion-avatar slot="start">
        <ion-img [src]="chat.img"></ion-img>
      </ion-avatar>
      <ion-label>
       {{chat.name}}
        <p>{{chat.description}}</p>
      </ion-label>
    </ion-item>
  </ion-items>
</ion-content>
